# MongoDB
MONGO_URI='MONGODB_URI_HERE'

# Bot Developer Mode
DEVELOPER_MODE='true' # true or false to enable or disable developer mode. In developer mode, the bot will only respond to commands in the specified DEV_GUILD_ID and will use the development bot token and application ID.
DEV_GUILD_ID='DEV_GUILD_ID' # The ID of the guild (server) where the bot will be tested in developer mode.

# Bot Tokens and Application IDs
BOT_TOKEN='BOT_TOKEN'
BOT_APPLICATION_ID='BOT_APPLICATION_ID'

BOT_TOKEN_DEV='DEV_BOT_TOKEN'
BOT_APPLICATION_ID_DEV='DEV_BOT_APPLICATION_ID'


# Developer Info
DEVELOPER_IDS=387341502134878218,DEVELOPER_ID_2, DEVELOPER_ID_3 # Comma-separated list of developer discord user IDs who have access to developer-only commands and features.