# MongoDB
MONGO_URI='MONGO_URI'

# Default Bot Language
DEFAULT_LANGUAGE='en-GB' # Uses i18n locale codes. Default is English.

# Bot Developer Mode
DEVELOPER_MODE='true' # or false
DEV_GUILD_ID='DEV_GUILD_ID'

# Bot Tokens and Application IDs
BOT_TOKEN='BOT_TOKEN'
BOT_APPLICATION_ID='BOT_APPLICATION_ID'

BOT_TOKEN_DEV='BOT_TOKEN_DEV'
BOT_APPLICATION_ID_DEV='BOT_APPLICATION_ID_DEV'

# Developer Info
DEVELOPER_IDS=387341502134878218,DEVELOPER_ID_2, DEVELOPER_ID_3 # Comma-separated list of developer discord user IDs who have access to developer-only commands and features.

# Bot Logging Channel Ids
COMMAND_CID='COMMAND_CID'
JOIN_GUID_CID='JOIN_GUID_CID'
LEAVE_GUILD_CID='LEAVE_GUILD_CID'
USER_LEVEL_CID='USER_LEVEL_CID'
VOTE_CID='VOTE_CID'